*{
    /* background-color: black; */
    /* color: white; */
    text-align: center;
}

.chat{
    width: 400px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;

}
.msj{
    background-color: dodgerblue;
    color: white;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
}
.border{
    border: 2px solid black;
    width: 400px;
    height: 300px;
    position: relative;
    left: 40%;
    top:30vh;
}