*{
    /* align-items: center; */
    text-align: center;
    margin: 0;
    padding: 0;
    color: #F3E4C9;
    background-color: #D3D4C0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: #0A2947;
    color: #F3E4C9;
}

label{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    
}
input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
    width: 50vw;
    background-color: white;
    color: black;
    box-shadow: 5px 5px gray;
}
.btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 24px;
    width: 4rem;
    box-shadow: 5px 5px gray;
}

ul{
    position: relative;
    top: 50px;
}
li{
    color: black;
}
.delete{
    border-radius: 10px;
    width: 4rem;
    background-color: red;
    margin-left: 15px;
}
button{
    color: black;
    font-weight: 600;
    box-shadow: 5px 5px gray;
}
h3{
    color: black;
}
